@import "fonts.css";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
nav,
section {
  max-width: 1024px;
}

.App {
  background-color: #101820;
  height: 100vh;
}
